@keyframes modalopen {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.contact, .btn-submit {
  margin: 20px;
  background: #901C1C;
  border-radius: 7px;
  border: none;
  width: 170px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
}
.contact:hover, .btn-submit:hover {
  background: #D3573C;
  cursor: pointer;
  color: #000000;
}
.contact__text, .btn-submit__text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 130%;
  line-height: 26px;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;
}

.btn-submit {
  margin: 20px auto;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 130%;
  line-height: 26px;
}

.listbox {
  padding-left: 100px;
  margin: 20px 0;
}
.listbox__label {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
}
.listbox__select {
  background: #901C1C;
  border-radius: 5px;
  color: #ffffff;
  border: none;
  padding: 10px;
}
.listbox__select__option {
  padding: 10px;
}

.banner {
  display: flex;
  justify-content: space-around;
  margin: 0 100px;
  background: #FAFAFA;
  border-radius: 5px;
  padding: 30px;
}
@media screen and (max-width: 768px) {
  .banner {
    display: block;
    margin: auto;
    padding: 0;
    width: 100%;
  }
}
.banner h1 {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 83px;
  margin-left: 20px;
  color: #D3573C;
}
@media screen and (max-width: 768px) {
  .banner h1 {
    font-size: 36px;
    margin-left: 10px;
    line-height: 47px;
  }
}
.banner__description {
  margin-left: 20px;
}
@media screen and (max-width: 768px) {
  .banner__description {
    margin-left: 10px;
  }
}
.banner__description__location {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
  color: #901C1C;
  margin-bottom: 19px;
}
@media screen and (max-width: 768px) {
  .banner__description__location {
    font-size: 13px;
    line-height: 17px;
  }
}
.banner__description__citation {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 16px;
  color: #525252;
}
@media screen and (max-width: 768px) {
  .banner__description__citation {
    font-size: 13px;
    line-height: 17px;
  }
}
.banner__links {
  margin-left: 20px;
}
@media screen and (max-width: 768px) {
  .banner__links {
    margin-left: 10px;
  }
}

#photographer__profil__responsive {
  position: absolute;
  top: 170px;
  right: -20px;
  background-size: cover;
  background-position: center;
  width: 100px;
  height: 100px;
  border-radius: 10em;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: fit-content;
}
@media screen and (max-width: 768px) {
  .row {
    flex-direction: column;
    height: fit-content;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
}

.photographer {
  width: 30%;
  text-align: center;
  margin: 25px auto;
}
@media screen and (max-width: 768px) {
  .photographer {
    margin: 25px auto;
    width: 100%;
  }
}
.photographer__profil {
  height: 100%;
  width: 100%;
  text-decoration: none;
  text-align: center;
}
.photographer__profil__portrait {
  background-size: cover;
  background-position: center;
  width: 200px;
  height: 200px;
  border-radius: 10em;
}
.photographer__profil__img {
  display: none;
}
.photographer__profil__name {
  margin: auto;
  width: fit-content;
  text-decoration: none;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 47px;
  /* identical to box height */
  text-align: center;
  color: #D3573C;
}

.description__location {
  margin: 10px 0;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 17px;
  /* identical to box height */
  text-align: center;
  color: #D3573C;
}
.description__citation {
  margin: 10px 0;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 80%;
  line-height: 13px;
  /* identical to box height */
  text-align: center;
  color: #000000;
}
.description__price {
  margin: 10px 0;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 70%;
  line-height: 12px;
  /* identical to box height */
  text-align: center;
}

.selection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 10px 70px;
}
.selection__card {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.selection__card__div {
  border-radius: 5px;
  width: 350px;
  height: 300px;
}
.selection__card__description {
  display: flex;
  justify-content: space-around;
  margin: 5px;
  align-items: center;
}
.selection__card__description:nth-child(0) {
  justify-self: flex-start;
}

.card__title {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 31px;
  color: #901C1C;
}
.card__price {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 31px;
  text-align: right;
  color: #901C1C;
}
.card__likes {
  width: fit-content;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card__likes__number {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 31px;
  text-align: right;
  color: #901C1C;
  margin: 3px;
}
.card__likes__icon {
  color: #901C1C;
  font-size: 20px;
  margin: 3px;
}

.modal {
  display: none;
  background-color: rgba(196, 196, 196, 0.4);
  border-radius: 5px;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  z-index: 2;
  border: 2px solid #C4C4C4;
  box-sizing: border-box;
}
.modal__content {
  margin: 5% auto;
  width: 100%;
  max-width: 600px;
  animation-name: modalopen;
  animation-duration: 0.8s;
  background: #DB8876;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  color: #ffffff;
  padding-top: 10px;
  z-index: 2;
}
.modal__content__body {
  padding: 15px 8%;
  margin: 15px auto;
  z-index: 2;
}
.modal__formData__text-control {
  font-family: DM Sans;
  padding: 8px;
  border: 0.8px solid #C4C4C4;
  outline: none;
  margin: 0;
  padding: 8px;
  width: 100%;
  border-radius: 8px;
  font-size: 20px;
  height: 48px;
}

.errorText {
  display: block;
  font-size: 100%;
  font-family: DM Sans;
  color: red;
}

.errorInput {
  border: solid red 3px;
}

.close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 3px;
  background-color: #ffffff;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

label {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 47px;
  color: #312E2E;
}

#message {
  height: 170px;
  width: 100%;
}

.lightbox__modal {
  display: none;
  background-color: #FAFAFA;
  border-radius: 5px;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  z-index: 2;
  border: 2px solid #C4C4C4;
  box-sizing: border-box;
}
.lightbox__modal__content {
  margin: 5% auto;
  width: 80vw;
  height: 80vh;
  animation-name: modalopen;
  animation-duration: 0.8s;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  color: #ffffff;
  padding-top: 10px;
  z-index: 2;
  background: #FAFAFA;
}
.lightbox__modal__content__body {
  margin: 5% auto;
  width: 70vw;
  height: 70vh;
  background: #D3573C;
}

.close_lightbox {
  position: absolute;
  right: 0;
  top: 50px;
  width: 40px;
  height: 40px;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
}
.close_lightbox:before, .close_lightbox:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 45px;
  width: 4px;
  background-color: #901C1C;
}
.close_lightbox:before {
  transform: rotate(45deg);
}
.close_lightbox:after {
  transform: rotate(-45deg);
}

.previous {
  position: absolute;
  left: 0;
  top: 290px;
  width: 50px;
  height: 70px;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
}
.previous:before, .previous:after {
  position: absolute;
  left: 5px;
  top: 10px;
  content: " ";
  height: 35px;
  width: 8px;
  background-color: #901C1C;
}
.previous:before {
  transform: rotate(45deg) translateY(-14px);
}
.previous:after {
  transform: rotate(-45deg) translateY(14px);
}

.next {
  position: absolute;
  right: 0;
  top: 290px;
  width: 50px;
  height: 70px;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
}
.next:before, .next:after {
  position: absolute;
  right: 0px;
  top: 10px;
  content: " ";
  height: 35px;
  width: 8px;
  background-color: #901C1C;
}
.next:before {
  transform: rotate(45deg) translateY(14px);
}
.next:after {
  transform: rotate(-45deg) translateY(-14px);
}

.image__title {
  position: absolute;
  bottom: 50px;
  left: 170px;
  font-family: DM Sans;
  font-size: 120%;
  color: #901C1C;
  font-weight: normal;
}

header {
  height: 20vh;
  width: 100%;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media screen and (max-width: 768px) {
  header {
    height: fit-content;
  }
}

.header__logo {
  width: 200px;
  height: 50px;
  margin: 20px 20px 20px 0;
  padding-left: 100px;
}
@media screen and (max-width: 768px) {
  .header__logo {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 10px;
    width: 120px;
    height: auto;
  }
}

.hidden {
  display: none;
}

.navigation__tag {
  text-decoration: none;
  padding: 4px 10px;
  margin: 0 2px;
  border: 0.5px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 15px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #901C1C;
}
@media screen and (max-width: 768px) {
  .navigation__tag {
    margin: 4px 1px;
  }
}
.navigation__tag:hover {
  color: #ffffff;
  background-color: #901C1C;
}

.header__navigation {
  display: flex;
  justify-content: space-around;
  height: 20vh;
}
@media screen and (max-width: 768px) {
  .header__navigation {
    display: block;
  }
}
.header__navigation nav {
  line-height: 47px;
  margin: 20px;
}
@media screen and (max-width: 768px) {
  .header__navigation nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
  }
}
.header__navigation h1 {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 47px;
  color: #901C1C;
  margin: 20px;
}
@media screen and (max-width: 768px) {
  .header__navigation h1 {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 10px;
    font-size: 14px;
  }
}

main {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

/*# sourceMappingURL=style.css.map */
