$color-primary : #901C1C;
$color-secondary : #D3573C;
$bg-color-dark : #525252;
$bg-color-light : #FAFAFA;
$border-color : #C4C4C4;
$text-color : #000000;
$text-hover-color : #ffffff;
$modal-color : #DB8876;

