.banner {
    display: flex;
    justify-content: space-around;
    margin: 0 100px;
    background: #FAFAFA;
    border-radius: 5px;
    padding: 30px;

    h1 {
        font-family: DM Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 64px;
        line-height: 83px;
        margin-left: 20px;

        color: #D3573C;
    }

    &__description {
        margin-left: 20px;
        &__location {
            font-family: DM Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 31px;
            color: #901C1C;
            margin-bottom: 19px;
        }

        &__citation {
            font-family: DM Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 23px;
            margin-bottom: 16px;
            color: #525252;
        }
    }
    &__links{
        margin-left: 20px;
    }
}