.banner {
    display: flex;
    justify-content: space-around;
    margin: 0 100px;
    background: $bg-color-light;
    border-radius: 5px;
    padding: 30px;
    @media screen and (max-width: 768px) {
        display: block;
        margin: auto;
        padding: 0;
        width: 100%;
    } 

    h1 {
        font-family: DM Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 64px;
        line-height: 83px;
        margin-left: 20px;
        color: $color-secondary;

        @media screen and (max-width: 768px) {
            font-size: 36px;
            margin-left: 10px;
            line-height: 47px;
            } 
    }

    &__description {
        margin-left: 20px;
        @media screen and (max-width: 768px) {
            margin-left: 10px;
            } 
        &__location {
            font-family: DM Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 31px;
            color: $color-primary;
            margin-bottom: 19px;
            @media screen and (max-width: 768px) {
                font-size: 13px;
                line-height: 17px;
                } 
        }

        &__citation {
            font-family: DM Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 23px;
            margin-bottom: 16px;
            color: $bg-color-dark;
            @media screen and (max-width: 768px) {
                font-size: 13px;
                line-height: 17px;
                } 
        }
    }
    &__links{
        margin-left: 20px;
        @media screen and (max-width: 768px) {
        margin-left: 10px;
            } 
    }
}

#photographer__profil__responsive{
    position: absolute;
    top: 170px;
    right: -20px;
    background-size: cover;
    background-position: center;
    width: 100px;
    height: 100px;
    border-radius: 10em;
}