.modal{
    display: none;
    background-color: rgba(196, 196, 196, 0.4);;
    border-radius: 5px;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    z-index: 2;
    border: 2px solid $border-color;
    box-sizing: border-box;
    &__content{

        margin: 5% auto;
        width: 100%;
        max-width: 600px;
        animation-name: modalopen;
        animation-duration: var(--modal-duration);
        background: $modal-color;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        color: $text-hover-color;
        padding-top: 10px;
        z-index: 2;
        &__body{
            padding: 15px 8%;
            margin: 15px auto;
            z-index: 2;
        }
    }
    &__formData__text-control{
        
        font-family: DM Sans;
        padding: 8px;
        border: 0.8px solid $border-color;
        outline: none;
        margin: 0;
        padding: 8px;
        width: 100%;
        border-radius: 8px;
        font-size: 20px;
        height: 48px;
    }
}

.close {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 32px;
    height: 32px;
    opacity: 1;
    cursor: pointer;
    transform: scale(0.7);
    &:before, &:after{
        position: absolute;
        left: 15px;
        content: " ";
        height: 33px;
        width: 3px;
        background-color: $text-hover-color;
    }
    &:before{
        transform: rotate(45deg);
    }
    &:after{
        transform: rotate(-45deg);
    }
  }

  label {
 
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 47px;
    color: #312E2E;
  }

  #message{
      height: 170px;
      width: 100%;
  }
