.lightbox__modal{
    display: none;
    background-color: $bg-color-light;
    border-radius: 5px;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    z-index: 2;
    border: 2px solid $border-color;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__content{
        margin: 5% auto;
        width: 90vw;   
        height: 70vh; 
        animation-name: modalopen;
        animation-duration: 0.8s;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        color: $text-hover-color;
        padding-top: 10px;
        z-index: 2;
        background: $bg-color-light;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__body{
            margin: 0 auto;
            max-width: 80vw;   
            max-height: 65vh;

        }
    }
    
}

.close_lightbox {
    position: absolute;
    right: 0;
    top: 30px;
    width: 40px;
    height: 40px;
    opacity: 1;
    cursor: pointer;
    transform: scale(0.7);
    @media screen and (max-width: 768px) {
        right: 0;
        top: -5px;
        width: 40px;
        height: 40px;
    } 
    &:before, &:after{
        position: absolute;
        left: 15px;
        content: " ";
        height: 45px;
        width: 4px;
        background-color: $color-primary;
        @media screen and (max-width: 768px) {
            height: 30px;
        } 
    }
    &:before{
        transform: rotate(45deg);
    }
    &:after{
        transform: rotate(-45deg);
    }
  }

.previous{
    position: absolute;
    left: 0;
    top: 240px;
    width: 50px;
    height: 70px;
    opacity: 1;
    cursor: pointer;
    font-size: 50px;
    color: $color-primary;
    @media screen and (max-width: 768px) {
        font-size: 35px;
        right: -2px;
    } 
}

  .next{
    position: absolute;
    right: -15px;
    top: 240px;
    width: 50px;
    height: 70px;
    opacity: 1;
    cursor: pointer;
    font-size: 50px;
    color: $color-primary;
    @media screen and (max-width: 768px) {
        font-size: 35px;
        right: -30px;
    } 
  }

  .image__title{
      position: absolute;
      bottom: 80px;
      left: 170px;
      font-family: DM Sans;
      font-size: 120%;
      color: $color-primary;
      font-weight: normal;

      @media screen and (max-width: 768px) {
        bottom: 50px;
        left: 70px;

    } 
  }