.contact {
  margin: 20px;
  background: #911C1C;
  border-radius: 7px;
  border: none;
  width: 170px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}
.contact:hover {
  background: #D3573C;
  cursor: pointer;
  color: black;
}
.contact__text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 130%;
  line-height: 26px;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;
}

.listbox {
  padding-left: 100px;
  margin: 20px 0;
}
.listbox__label {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
}
.listbox__select {
  background: #911C1C;
  border-radius: 5px;
  color: white;
  border: none;
  padding: 10px;
}
.listbox__select__option {
  padding: 10px;
}

.banner {
  display: flex;
  justify-content: space-around;
  margin: 0 100px;
  background: #FAFAFA;
  border-radius: 5px;
  padding: 30px;
}
.banner h1 {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 83px;
  margin-left: 20px;
  color: #D3573C;
}
.banner__description {
  margin-left: 20px;
}
.banner__description__location {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
  color: #901C1C;
  margin-bottom: 19px;
}
.banner__description__citation {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 16px;
  color: #525252;
}
.banner__links {
  margin-left: 20px;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 110vh;
}

.photographer {
  width: 30%;
  text-align: center;
}
.photographer__profil {
  height: 100%;
  width: 100%;
  text-decoration: none;
  text-align: center;
}
.photographer__profil__portrait {
  background-size: cover;
  background-position: center;
  width: 200px;
  height: 200px;
  border-radius: 10em;
}
.photographer__profil__img {
  display: none;
}
.photographer__profil__name {
  margin: auto;
  width: fit-content;
  text-decoration: none;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 47px;
  /* identical to box height */
  text-align: center;
  color: #D3573C;
}

.description__location {
  margin: 10px 0;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 17px;
  /* identical to box height */
  text-align: center;
  color: #CA4E33;
}
.description__citation {
  margin: 10px 0;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 80%;
  line-height: 13px;
  /* identical to box height */
  text-align: center;
  color: #000000;
}
.description__price {
  margin: 10px 0;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 70%;
  line-height: 12px;
  /* identical to box height */
  text-align: center;
}

.selection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 10px 70px;
}
.selection__card {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.selection__card__div {
  border-radius: 5px;
  width: 350px;
  height: 300px;
}
.selection__card__description {
  display: flex;
  justify-content: space-around;
  margin: 5px;
  align-items: center;
}
.selection__card__description:nth-child(0) {
  justify-self: flex-start;
}

.card__title {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
  color: #911C1C;
}
.card__price {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  text-align: right;
  color: #911C1C;
}
.card__likes {
  width: fit-content;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card__likes__number {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  text-align: right;
  color: #911C1C;
  margin: 3px;
}
.card__likes__icon {
  color: #911C1C;
  font-size: 20px;
  margin: 3px;
}

header {
  height: 20vh;
  width: 100%;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header__logo {
  width: 200px;
  height: 50px;
  margin: 20px 20px 20px 0;
  padding-left: 100px;
}

.hidden {
  display: none;
}

.header__navigation {
  display: flex;
  justify-content: space-around;
}

.navigation__tag {
  text-decoration: none;
  padding: 4px 10px;
  margin: 0 2px;
  border: 0.5px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 15px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height */
  text-align: center;
  color: #911C1C;
}
.navigation__tag:hover {
  color: white;
  background-color: #911C1C;
}

.header__navigation nav {
  line-height: 47px;
  margin: 20px;
}
.header__navigation h1 {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 47px;
  /* identical to box height */
  color: #911C1C;
  margin: 20px;
}

main {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=style.css.map */
