footer {
    position: sticky;
    bottom: 69px;
    left: 0;
}

.tab {
    position: absolute;
    background: #DB8876;
    border-radius: 5px;
    width: 376px;
    height: 70px;
    right: 50px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    text-align: right;
    color: #000000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @media screen and (max-width: 768px) {
        display: none;
    }
    &__photos {
        display: flex;
        justify-content: space-between;
        &__icon{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;
            margin: 0 4px;
        }
    }
    &__likes {
        display: flex;
        justify-content: space-between;
        &__icon{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;
            margin: 0 4px;
        }
    }
}