header {
    height: 20vh;
    width: 100%;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.header__logo {
    width: 200px;
    height: 50px;
    margin: 20px 20px 20px 0;
    padding-left: 100px;
}

.hidden {
    display: none;
}

.header__navigation {
    display: flex;
    justify-content: space-around;
    }

.navigation__tag {
    text-decoration: none;
    padding: 4px 10px;
    border: 0.5px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 15px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height */
    text-align: center;

    color: #911C1C;
    &:hover{
        color: white;
        background-color: #911C1C;
    }

}
.header__navigation {
    nav{
        line-height: 47px;
        margin: 20px;
    }
    h1{
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 47px;
    /* identical to box height */
    
    
    color: #911C1C;
    margin: 20px;
    }
}